<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Project 2 Title!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/script.js"></script>
</head>
<body>
	{{{ body }}}
<footer class="text-center py-3 mt-2 mb-0">blah blah blah (main.handlebars)</footer>
</body>
</html>
