<div class="container">
    <div class="row">
      <div class="row">
      <div class="col-md-2 col-sm-2 top-30">
        <a class="btn btn-default" href="/index">Home</a>
      </div>
    </div>
      <div class="col-md-6 col-md-offset-3">
        <form id="joke-form">
          <div class="form-group">
{{!--        <label for="title">Title:</label>
            <input type="text" class="form-control" id="title">
            <br /> --}}
            <label for="body">Joke:</label>
            <textarea class="form-control" rows="3" id="body"></textarea>
            <div class="form-group">
              <label for="category">Select Category:</label>
              <select class="form-control" id="category">
                {{!-- changed value to match category --}}
                {{!-- <option value="Roast">Roast</option>
                <option value="Dad Joke">Dad Joke</option>
                <option value="One LIner">One liner</option> --}}
              </select>
            </div>
            <br />
            <button type="submit" class="btn btn-success submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Custom Script -->

