<div class="container">
   <div class="nav-bar">
      <a href="/index" class="links">Judge Other People</a>
    </div>
  
    <div class="col-md-6 col-md-offset-3">
      <form id="joke-form">
        <div class="form-group">
          <label for="body">Joke:</label>
          <textarea class="form-control" rows="2" id="body"></textarea>
            <div class="form-group">
              <label for="category">Select Category:</label>
              <select class="form-control" id="category">
                <option value="Roast">Roast</option>
                <option value="Dad Joke">Dad Joke</option>
                <option value="One LIner">One liner</option>
              </select>
            </div>
            <br />
            <button type="submit" class="btn btn-success submit">Submit</button>
        </div>
      </form>
    </div>
</div>