{{!-- Logo --}}
<div class="col-12">
  <div id="logo-secondary"></div>
</div>

{{!-- Content --}}
<div class="container" id="add-joke-page">
  <div class="row">

    <div class ="col-6">
      <form id="joke-form">
        <div class="form-group">
          <h4 style="font-weight:bold">MAKE US LAUGH</h4>
            <label for="body">Joke:</label>
            <textarea class="form-control" rows="2" id="body"></textarea>
              <div class="form-group">
                <label for="category">Select Category:</label>
                  <select class="form-control" id="category">
                    <option value="Roast">Roast</option>
                    <option value="Dad Joke">Dad Joke</option>
                    <option value="One LIner">One liner</option>
                  </select>
              </div>
              <br/>
              <button type="submit" class="btn btn-secondary submit" id="submit-button">Submit</button>
        </div>
      </form>
    </div>

    <div class ="col-6" id="not-funny">
      <h5>Realized you aren't actually funny? That's chill, go back to anonymously judging other people.</h5>
      <div class="nav-bar">
        <a href="/index" class="links">Judge Jokes</a>
      </div>
    </div>

  </div>
</div>