/*General ==================================================*/
html, body{
	margin: auto;
	height:100%;
	width: 100%;
}

body{
	font-family: "Barlow Condensed", sans-serif;
	background-color: #FE5F55;
	background-image: url("halftone.png");
}

.container{
	margin: 0;
	padding: 0;
}

/*Vectors ==================================================*/
#logo-main{
	background-image: url("spicyburnzcopy.svg");
	height:300px;
	background-repeat: no-repeat;
	background-position: center;
	margin-top:20px;
}

/*Navigation ===============================================*/
.nav-bar{
	margin:auto;
	text-align: center;
}

.links, .links:hover{
	margin:auto;
	border:2px solid #231f20;
	padding: 7px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color:#231f20;
	margin:0px 5px 0px 5px;
}

.links:hover{
	border:2px solid #FE5F55;
	background-color:#FE5F55; 
	cursor: pointer;
}

/*Text ===============================================*/
#header{
	margin-top:20px;
}

#instructions {
	padding: 5px;
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
	color: #231f20;
}

#instruction-div{
	margin:auto;
	left: 50px;
}

footer{
	font-size: 12px;
}

/*Jokes ===============================================*/
#joke-list{
	margin: auto;
	margin-top:20px;
	text-align: center;
	display: none;
	font-size: 18px;
}

#individual-joke{
	margin: auto;
	padding-top:25px;
	width: 1000px;
	margin-bottom:20px;
	color: white;
	border-bottom:5px solid #FE5F55;
}

#individual-joke[data-guessed="false"] {
  background-color: #231f20;
}

#individual-joke[data-guessed="true"] {
  background-color: #231f20; 
}

/* Spicy and Icy Number ===================================*/
.value {
  display: inline;
  margin: 10px;
}

/*Add Your Own Page ===============================================*/
#add-joke-page{
	margin: auto;
	width: 900px;
}

#submit-button{
	border-radius: 0px;
	text-transform: uppercase;
	background-color: black;
	border:none;
}

/*Modal ===============================================*/
.modal-content {
  border-radius: 0px;
  border:none;
  background-color: #FE5F55;
}

.modal-header {
  border-bottom: none;
}